@media (width <= 860px) {
    header{
        flex-direction: column;
    }
}

@media (width <= 500px) {
    main{
        flex-direction: column;
    }
}

@media (width <= 350px) {
    nav{
        flex-direction: column;
        width: 80%;
    }
}

@media (width <= 1100px) {
    #acciones{
        flex-wrap: wrap;
        justify-content: center;
    }
        #acciones .accion{
           max-width: 25%;
    }
}    

@media (width <= 860px) {
    header{
        flex-direction: column;
    }
    #acciones .accion{
        max-width: 40%;
    }
    #txt{
        display: flex;
        flex-direction: column;
        gap: var(--espaciado-md);
    }
}
@media (width <= 560px) {
    main{
        flex-direction: column;
    }
    #acciones .accion{
        max-width: 80%;
    }
}