*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.contenedor{
    background-color: rgb(124, 114, 114);
    width: 70%;
    margin: 32px auto;
    padding: 16px;
}

.contenedor h1{
    font-size: 20px;
    border-bottom: 3px solid #252525;
    margin-bottom: 0 auto;
}

.contenedor img{
    width: 200px;
    margin: 32px auto;
    display: block;
}

.contenedor#filtros img{
    width: 150px;
    display: inline-block;
}

.contenedor#filtros img#filtro1{
    filter: grayscale(1);
}

.contenedor#filtros img#filtro2{
    filter: sepia(1);
}

.contenedor#filtros img#filtro3{
    filter: blur(2px);
}
.contenedor#filtros img#filtro4{
    filter: hue-rotate(90deg);
}

.contenedor#filtros img#filtro5{
    filter: invert(1);
}

.contenedor#galeria img{
    display: inline-block;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
    filter: grayscale(1);
    transition: 0.5s;
}

.contenedor#galeria img:hover{
    filter: grayscale(0);
    transform: scale(1.1%);
}